<p id="notice"><%= notice %></p>

<h1>Obmen</h1>

<table>
  <thead>
    <tr>
      <th>Value input</th>
      <th>Value output</th>
      <th>Currency input</th>
      <th>Currency output</th>
      <th>Email</th>
      <th>Fullname</th>
      <th>Input account</th>
      <th>Output account</th>
      <th>Status</th>
      <th>Agree</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @obmen.each do |obman| %>
      <tr>
        <td><%= obman.value_input %></td>
        <td><%= obman.value_output %></td>
        <td><%= obman.currency_input %></td>
        <td><%= obman.currency_output %></td>
        <td><%= obman.email %></td>
        <td><%= obman.fullname %></td>
        <td><%= obman.input_account %></td>
        <td><%= obman.output_account %></td>
        <td><%= obman.status %></td>
        <td><%= obman.agree %></td>
        <td><%= link_to 'Show', obman %></td>
        <td><%= link_to 'Edit', edit_obman_path(obman) %></td>
        <td><%= link_to 'Destroy', obman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Obman', new_obman_path %>
