<p id="notice"><%= notice %></p>

<p>
  <strong>Value input:</strong>
  <%= @obman.value_input %>
</p>

<p>
  <strong>Value output:</strong>
  <%= @obman.value_output %>
</p>

<p>
  <strong>Currency input:</strong>
  <%= @obman.currency_input %>
</p>

<p>
  <strong>Currency output:</strong>
  <%= @obman.currency_output %>
</p>

<p>
  <strong>Email:</strong>
  <%= @obman.email %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @obman.fullname %>
</p>

<p>
  <strong>Input account:</strong>
  <%= @obman.input_account %>
</p>

<p>
  <strong>Output account:</strong>
  <%= @obman.output_account %>
</p>

<p>
  <strong>Status:</strong>
  <%= @obman.status %>
</p>

<p>
  <strong>Agree:</strong>
  <%= @obman.agree %>
</p>

<%= link_to 'Edit', edit_obman_path(@obman) %> |
<%= link_to 'Back', obmen_path %>
