<%= form_with(model: exchange, local: true, :class => "form-horizontal") do |form| %>
  <% if exchange.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exchange.errors.count, "error") %> prohibited this exchange from being saved:</h2>

      <ul>
      <% exchange.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :cryptocurrency_id, "Криптовалюта:", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
	<%= form.select :cryptocurrency_id, options_for_select(Cryptocurrency.all.collect { |p| [p.fullname, p.id] }, form.object.cryptocurrency_id), {}, {:class => 'form-control',  id: :exchange_cryptocurrency} %>
    </div>
  </div>

  <div class="form-group">    
    <%= form.label :currency_id, "Валюта:", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= form.select :currency_id, options_for_select(Currency.all.collect { |p| [p.fullname, p.id] }, form.object.currency_id), {}, {:class => 'form-control',  id: :exchange_currency} %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label "Коффициент конвертации (%):", :class=>"col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= form.number_field :coeff, id: :exchange_coeff, :class=>"form-control"  %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label "Комиссия в криптовалюте:", :class=>"col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= form.text_field :coeffburse, id: :exchange_coeffburse, :class=>"form-control"  %>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :burse, "Биржа:", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= form.select :burse, options_for_select([['exmo.me', 1], ['cex.io', 2] ], form.object.burse), {}, {:class => 'form-control',  id: :exchange_burse} %>
    </div>
  </div>

  <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
         <%= form.submit "Сохранить", :class=>"btn btn-default" %>
      </div>
  </div>

<% end %>
