<p id="notice"><%= notice %></p>

<h1>Обмен</h1>

<table class="table">
  <thead>
    <tr>
      <th>Криптовалюта</th>
      <th>Валюта</th>
      <th>Коэффициент конвертации (%)</th>
      <th>Комиссия в криптовалюте</th>
      <th>Курс</th>
      <th>Биржа</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exchanges.each do |exchange| %>
      <tr>
        <td>
    	    <%= image_tag exchange.cryptocurrency.logo.url(:med) %>
    	    <%= exchange.cryptocurrency.fullname %>
    	</td>
        <td>
    	    <%= image_tag exchange.currency.logo.url(:med) %>
    	    <%= exchange.currency.fullname %>
        </td>
        <td><%= exchange.coeff %></td>
        <td><%= exchange.coeffburse %></td>
        <td><%= exchange.course_display %></td>
        <td><%= exchange.burse_display %></td>
        <td><%= link_to 'Показать', exchange %></td>
        <td><%= link_to 'Редактировать', edit_exchange_path(exchange) %></td>
        <td><%= link_to 'Удалить', exchange, method: :delete, data: { confirm: 'Вы действительно хотите удалить?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить', new_exchange_path %>
