<%= form_with(model: admin_converter, local: true) do |form| %>
  <% if admin_converter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_converter.errors.count, "error") %> prohibited this admin_converter from being saved:</h2>

      <ul>
      <% admin_converter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_2Ix">
    <%= form.label "Отдаёте:" %>
    <%= form.select :cash_a, Admin::Cash.all.collect { |p| [p.name, p.id] }, :selected=>@selected_cash_a %>
  </div>
  
  <div class="form_2Ix">
    <%= form.label "Получаете:" %>
    <%= form.select :cash_b, Admin::Cash.all.collect { |p| [p.name, p.id] }, :selected=>@selected_cash_b %>
  </div>

  <div class="form_2Ix">
    <%= form.label "Коффициент конвертации (%):" %>
    <%= form.number_field :coeff_procent, id: :admin_converter_coeff_procent %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить" %>
  </div>
<% end %>
