<h1>Просмотр направления обмена</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Отдаёте:</strong>
  <%= @admin_converter.cash_a.name %>
</p>

<p>
  <strong>Получаете:</strong>
  <%= @admin_converter.cash_b.name %>
</p>

<p>
  <strong>Коэффициент конвертации:</strong>
  <%= @admin_converter.coeff_procent %>
</p>


<p>
  <strong>Комиссия в криптовалюте:</strong>
  <%= @admin_converter.cryptocommission_display %>
</p>

<p>
  <strong>Биржа:</strong>
  <%= @admin_converter.source_course_display %>
</p>
<%= link_to 'Редактировать', edit_admin_converter_path(@admin_converter) %> |
<%= link_to 'Назад', admin_converters_path %>
