<%= form_with(model: bank, local: true, html: { multipart: true }, :class => "form-horizontal" ) do |form| %>
  <% if bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Наименование:", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= form.text_field :name, id: :bank_name, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label "Валюта:", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= form.collection_check_boxes :currency_ids, Currency.all, :id, :name, :class=>"form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= form.label "Логотип:", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= form.file_field :logo, id: :bank_logo %>
    </div>
  </div>
  
  <div class="form-group">
    <%= form.label "Счет:", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= form.text_field :account, id: :bank_account, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= form.label "ФИО:", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= form.text_field :personal, id: :bank_personal, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        <%= form.submit "Сохранить", :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
