<%= form_with(model: bank, local: true, html: { multipart: true } ) do |form| %>
  <% if bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Наименование:" %>
    <%= form.text_field :name, id: :bank_name %>
  </div>

  <div class="field">
    <%= form.label "Валюта:" %>
    <%= form.collection_check_boxes :currency_ids, Currency.all, :id, :name, :class=>"form-control" %>
  </div>
  
  <div class="field">
    <%= form.label "Логотип:" %>
    <%= form.file_field :logo, id: :bank_logo %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить" %>
  </div>
<% end %>
