
            <div class="main_3FS" data-exchange-column="input">
                    <div data-block="main" class="main_xU-">
            <div class="main_2eU">
                <div class="main_1Me">
                    <span class="main_3R6"></span>
                </div>
                1. Отдаёте            </div>
            <div class="main_3MK">
                <div class="form_2Ix" data-exchange-form="input">
                    <div class="form_2Gw">
                        <input class="form_2nL" data-exchange-field="input" data-toggle="onlyNumber" value="0">
                    </div>
                    <div class="form_1CY">
                        <span class="main_3Mj">
                            <span id="form_cash_a_icon_2" data-exchange-icon="input" class="iconpay-bitcoin"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="main_Uu_" data-exchange-toggle="select"><span class="main_11I">
  <span class="iconpay-bitcoin"></span>
</span> Bitcoin</div>
            <div class="main_rpT">
              <div class="main_2HO">
                <div class="main_2Tp">
                  <button type="button" class="buttons_3i0" data-exchange-dismiss="select">
                    <span class="main_Uww"></span>
                  </button>
                </div>
                <!--
                <p>Валюта отдачи:</p>
                <div class="main_Q66">
                    <div class="main_jgK" data-exchange-filter="0">Все</div>
                    
                    <div class="main_3DC" data-exchange-filter="1">Руб</div>
                    <div class="main_3DC" data-exchange-filter="2">USD</div>
                    <div class="main_3DC" data-exchange-filter="3">Coin</div>
                    
                </div>
                -->
                <p>
                    <span class="main_2aj"></span> Выберите систему:
                </p>
                
                <div id="init_cash" class="main_2Lu step_ps_list"> 
                  
    <% @cashes_a.select(:cash_a_id).distinct.each do |item| %>
    	<div class="main_k0X cash_a" data-cash="<%= item.cash_a.id %>" data-input-currency="<%= item.cash_a.code %>" data-body="3" data-typecy="<%= item.cash_a.category %>" data-system-name="<%= item.cash_a.name %>" data-system-icon="<%= item.cash_a.icon %>"><div class="main_1g8">                            <span class="<%= item.cash_a.icon %>"></span>
    	                        </div>
    	                        
    	                                                <div class="main_2-h"><%= item.cash_a.name %></div>
    	                                                                    </div>
    <% end %>
                </div>
                

              </div>
            </div>
        </div>
    </div>
    
    
            <div class="main_3FS" data-exchange-column="output">
        <div data-block="main" class="main_xU-" style="height: 657.667px;">
            <div class="main_2eU">
                <div class="main_1Me">
                    <span class="main_1dZ"></span>
                </div>
                2. Получите            </div>
            <div class="main_3MK">
                <div class="form_2Ix" data-exchange-form="output">
                    <div class="form_2Gw">
                        <input class="form_2nL" data-exchange-field="output" data-toggle="onlyNumber" value="0">
                    </div>
                    <div class="form_1CY">
                        <span class="main_3Mj">
                            <span id="form_cash_b_icon_2" data-exchange-icon="output" class="iconpay-ethereum"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="main_Uu_" data-exchange-toggle="select"><span class="main_11I">
  <span class="iconpay-ethereum"></span>
</span> Ethereum</div>
            <div class="main_rpT">
              <div class="main_2HO">
                <div class="main_2Tp">
                  <button type="button" class="buttons_3i0" data-exchange-dismiss="select">
                    <span class="main_Uww"></span>
                  </button>
                </div>
                <!--
                <p>Валюта получения:</p>
                <div class="main_Q66">
                    <div class="main_3DC cash_b_typecy" data-exchange-filter="0">Все</div>
                    
                    <div class="main_3DC cash_b_typecy" data-exchange-filter="1">Руб</div>
                    <div class="main_3DC cash_b_typecy" data-exchange-filter="2">USD</div>
                    <div class="main_jgK cash_b_typecy" data-exchange-filter="3">Coin</div>
                    
                </div>
                -->
                <p>
                    <span class="main_2aj">                        <span class="main_3g_">Резервы валют</span>
                    </span> Выберите систему:
                </p>



                <div id="cashes_to" class="main_2Lu step_ps_list"> 
                
                  
    <% @cashes_a.each do |item| %>
    	<div class="main_k0X cash_b" data-body="3" data-cash_a=<%= item.cash_a.id %> data-output-currency="<%= item.cash_b.code %>" data-typecy="<%= item.cash_b.category %>" data-system-name="<%= item.cash_b.name %>" data-system-icon="<%= item.cash_b.icon %>" ><div class="main_1g8">                            <span class="<%= item.cash_b.icon %>"></span>
    	                        </div>
    	                        
    	                                                <div class="main_2-h"><%= item.cash_b.name %></div>
    	                                                                    </div>
    <% end %>
                </div>




              </div>
            </div>
        </div>
    </div>
        <div class="main_3FS">
            <div data-block="main" class="main_xU-" style="height: 657.667px;">
                <div class="main_2eU">3. Ввод данных</div>
                <p class="main_2fW" data-course="container">
                  Обмен по курсу:
                  <span data-course="input-value">1</span>
                  <span id="input-currency" data-course="input-currency">btc.</span>
                   = <span data-course="output-value">17.515</span>
                  <span id="output-currency" data-course="output-currency">eth</span>
                </p>
                <div class="main_1I3">
                    <div class="main_3LV">
                        <div class="main_2tS">
                            <span id="form_cash_a_icon" class="iconpay-bitcoin" data-exchange-icon="input"></span>
                        </div>
                        <div id="form_cash_a_name" class="main_2BM" data-exchange-name="input">Bitcoin</div>
                        <div class="main_22H">
                            <span data-exchange-value="input">1.07</span>
                            <span id="cash_input_currency" class="main_3g_" data-exchange-currency="input">btc.</span>
                        </div>
                    </div>
                    <div class="main_3LV">
                        <div class="main_2tS">
                            <span id="form_cash_b_icon" class="iconpay-ethereum" data-exchange-icon="output"></span>
                        </div>
                        <div id="form_cash_b_name" class="main_2BM" data-exchange-name="output">Ethereum</div>
                        <div class="main_22H">
                            <span data-exchange-value="output">18.740744</span>
                            <span id="cash_output_currency" class="main_3g_" data-exchange-currency="output">eth</span>
                        </div>
                    </div>
                </div>
                <p>Введите данные для завершения обмена:</p>
                                    <div class="form_3hz" data-exchange-form="email">
                        <label data-toggle="floatLabel" class="form_2Gw">
                            <span class="form_3Mi">Введите Ваш e-mail</span>
                            <input class="form_2nL">
                        </label>
                        <div class="form_qzZ">
                            <span class="form_3R3"></span>
                        </div>
                    </div>
                                <div class="form_3hz" data-exchange-form="input-account" style="display: none;">
                    <label data-toggle="floatLabel" class="form_2Gw">
                        <span class="form_3Mi" data-exchange-form-label="input-account">Кошелек Bitcoin</span>
                        <input class="form_2nL">
                    </label>
                    <div class="form_qzZ">
                        <span class="main_8sl">
                            <span class="iconpay-bitcoin" data-exchange-icon="input"></span>
                        </span>
                    </div>
                </div>
                                <div class="form_3hz" data-exchange-form="input-fullname" style="display: none;">
                    <label data-toggle="floatLabel" class="form_2Gw">
                        <span class="form_3Mi">ФИО отправителя</span>
                        <input class="form_2nL"> </label>
                    <div class="form_qzZ"></div>
                </div>
                <div class="form_3hz" style="display:none" data-exchange-form="input-unk">
                    <label data-toggle="floatLabel" class="form_2Gw">
                        <span class="form_3Mi" data-exchange-form-label="input-unk">УНК, 6-8 цифр</span>
                        <input class="form_2nL"> </label>
                    <div class="form_qzZ">
                    </div>
                </div>
                <div class="form_3hz" data-exchange-form="output-account" style="">
                    <label data-toggle="floatLabel" class="form_2Gw">
                        <span class="form_3Mi" data-exchange-form-label="output-account">Кошелек Ethereum</span>
                        <input class="form_2nL">
                    </label>
                    <div class="form_qzZ">
                        <span class="main_8sl">
                            <span class="iconpay-ethereum" data-exchange-icon="output"></span>
                        </span>
                    </div>
                </div>
                <div class="form_3hz fio_b_label" data-exchange-form="output-fullname" style="display: none;">
                    <label data-toggle="floatLabel" class="form_2Gw">
                        <span class="form_3Mi">ФИО получателя</span>
                        <input class="form_2nL"> </label>
                    <div class="form_qzZ"></div>
                </div>
                <div class="form_3hz" style="display:none" data-exchange-form="output-unk">
                    <label data-toggle="floatLabel" class="form_2Gw">
                        <span class="form_3Mi" data-exchange-form-label="output-unk">УНК, 6-8 цифр</span>
                        <input class="form_2nL"> </label>
                    <div class="form_qzZ"></div>
                </div>
                <label class="form_2Jr" style="display:none" data-exchange-form="switch_monero">
                    <input value="1" name="switch_payment_id" class="form_1gq" data-exchange-field="switch_monero" type="checkbox">
                    <span class="form_3U9"></span>
                    <span class="form_nBB">
                        Без Destination Tag                    </span>
                </label>
                <div class="form_3hz" style="display:none" data-exchange-form="output-bank">
                    <label data-toggle="floatLabel" class="form_2Gw">
                        <span class="form_3Mi">Название банка</span>
                        <input class="form_2nL"> </label>
                    <div class="form_qzZ"></div>
                </div>
                
                <label class="form_2Jr" data-exchange-form="agree">
                    <input value="1" name="exchange_rule" checked="checked" class="form_1gq" data-exchange-field="agree" type="checkbox">
                    <span class="form_3U9"></span>
                    <span class="form_nBB">
                        Я согласен с
                        <a href="/pravila_obmena" target="_blank" rel="noopener noreferrer">
                            условиями и правилами сервиса
                        </a>
                    </span>
                </label>

                <button class="buttons_2FG" data-exchange-form="submit" type="button" id="sendRequest">
                    Обменять сейчас
                </button>
            </div>
        </div>

              </div>
          <div class="service-break_1DV" data-teachbreak-container="" style="display: none">
            <div class="service-break_uF3">
              <p>
                <img src="/images/icon-service-break.png" alt="Технический перерыв">
              </p>
              <div class="service-break_2dc">Технический перерыв</div>
              <p class="service-break_1TV"> Нас забрали и обещали вернуть через
                <strong data-techbreak="0">-</strong>
              </p>
              <div class="service-break_Xph">
                <div class="progress_2K6">
                  <div class="progress_3BV"></div>
                </div>
              </div>
              <div class="service-break_2j4">
                <p> Не беспокойтесь, если Ваша заявка поступила в период технического перерыва.<br>
                    Она будет обработана в ближайшее время :) </p>
                <a href="/news" class="buttons_1jS"> А пока почитайте новости </a>
      
</div>
</div>

