
            <div class="main_3FS" data-exchange-column="input">
                    <div data-block="main" class="main_xU-">
            <div class="main_2eU">
                <div class="main_1Me">
                    <span class="main_3R6"></span>
                </div>
                1. Отдаёте            </div>
            <div class="main_3MK">
                <div class="form_2Ix">
                    <div class="form_2Gw">
                        <input id="value-input" class="form_2nL" data-toggle="onlyNumber" value="0">
                    </div>
                    <div class="form_1CY">
                        <span class="main_3Mj">
                            <span data-exchange-icon="input" ></span>
                        </span>
                    </div>
                </div>
            </div>
            <div id="mobiinput" class="main_Uu_" data-exchange-toggle="select">
        	<span class="main_11I">
		    <span class="iconpay-bitcoin"></span>
		</span> 
		Bitcoin
	    </div>
            
            <div class="main_rpT">
              <div class="main_2HO">
                <div class="main_2Tp">
                  <button type="button" class="buttons_3i0" data-exchange-dismiss="select">
                    <span class="main_Uww"></span>
                  </button>
                </div>
                <p>
                    <span class="main_2aj"></span> Выберите систему:
                </p>
                
                <div id="init_cash" class="main_2Lu step_ps_list"> 
    
		<% @exchanges.select(:currency_id).distinct.each do |item| %>
		    <% item.currency.banks.each do |bank| %>
		        <div class="main_k0X"  data-exchange-type="input" data-currency-code="<%= item.currency.code %>" data-currency="<%= item.currency.id %>" data-exchange="<%= item.id %>" data-bank="<%= bank.id%>" data-body="3" data-typecy="3" data-system-name="<%= bank.name %>" data-logo="<%= bank.logo.url(:med) %>" >
            		    <div class="main_1g8">
            		      <span>  <%= image_tag bank.logo.url(:small) %></span>
            		    </div>
            		    <div class="main_2-h"><%= bank.name + ' ' + item.currency.code %></div>
            	        </div>
		    <% end %>
		<% end %>
                <% @exchanges.select(:cryptocurrency_id).distinct.each do |item| %>
            	    <div class="main_k0X"  data-exchange-type="input" data-cryptocurrency="<%= item.cryptocurrency.id %>" data-exchange="<%= item.id %>" data-currency-code="<%= item.cryptocurrency.code %>" data-body="3" data-typecy="3" data-system-name="<%= item.cryptocurrency.name %>" data-logo="<%= item.cryptocurrency.logo.url(:med) %>" >
            		<div class="main_1g8">
            		  <span>  <%= image_tag item.cryptocurrency.logo.url(:small) %></span>
            		</div>
            		<div class="main_2-h"><%= item.cryptocurrency.name %></div>
            	    </div>
                <% end %>
                
                </div>
                

              </div>
            </div>
        </div>
    </div>
    
    
            <div class="main_3FS" data-exchange-column="output">
        <div data-block="main" class="main_xU-" style="height: 657.667px;">
            <div class="main_2eU">
                <div class="main_1Me">
                    <span class="main_1dZ"></span>
                </div>
                2. Получите            </div>
            <div class="main_3MK">
                <div class="form_2Ix" data-exchange-form="output">
                    <div class="form_2Gw">
                        <input id="value-output" class="form_2nL" value="0">
                    </div>
                    <div class="form_1CY">
                        <span class="main_3Mj">
                            <span data-exchange-icon="output"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div id="mobioutput" class="main_Uu_" data-exchange-toggle="select">
        	<span class="main_11I">
		    <span></span>
		</span> 
		Ethereum
	    </div>
            <div class="main_rpT">
              <div class="main_2HO">
                <div class="main_2Tp">
                  <button id="btn_close" type="button" class="buttons_3i0" data-exchange-dismiss="select">
                    <span class="main_Uww"></span>
                  </button>
                </div>

                <p>
                    <span class="main_2aj">                        <span class="main_3g_">Резервы валют</span>
                    </span> Выберите систему:
                </p>



                <div id="cashes_to" class="main_2Lu step_ps_list"> 
                
            <% @exchanges.each do |exchange| %>
                <% exchange.currency.banks.each do |bank| %>
            	    <div class="main_k0X exchange-output"  data-exchange-type="output" data-currency-code="<%= exchange.currency.code %>" data-cryptocurrency="<%= exchange.cryptocurrency.id%>"  data-currency="<%= exchange.currency.id%>" data-exchange="<%= exchange.id %>" data-bank="<%= bank.id %>" data-system-name="<%= bank.name %>"  data-body="3" data-typecy="3" data-logo="<%= bank.logo.url(:med) %>" data-course-output="<%= exchange.converter %>" data-course-input="1" data-coeffburse="">
            		    <div class="main_1g8">
            		      <span>  <%= image_tag bank.logo.url(:small) %></span>
            		    </div>
            		    <div class="main_2-h"><%= bank.name + ' ' + exchange.currency.code %></div>
            	        </div>            	        
            	<% end %>
            	
            	<div class="main_k0X exchange-output"  data-exchange-type="output" data-cryptocurrency="<%= exchange.cryptocurrency.id %>" data-currency="<%= exchange.currency.id%>" data-exchange="<%= exchange.id %>" data-currency-code="<%= exchange.cryptocurrency.code %>" data-body="3" data-typecy="3" data-system-name="<%= exchange.cryptocurrency.name %>" data-logo="<%= exchange.cryptocurrency.logo.url(:med) %>" data-course-input="<%= exchange.converter_crypto %>" data-course-output="1" data-coeffburse="<%= exchange.coeffbursetext %>">
            		<div class="main_1g8">
            		  <span>  <%= image_tag exchange.cryptocurrency.logo.url(:small) %></span>
            		</div>
            		<div class="main_2-h"><%= exchange.cryptocurrency.name %></div>
            	</div>
            	
            <% end %>
    
                </div>




              </div>
            </div>
        </div>
    </div>
        <div class="main_3FS">
            <div data-block="main" class="main_xU-" style="height: 657.667px;">
                <div class="main_2eU">3. Ввод данных</div>
                <p class="main_2fW" data-course="container">
                  Обмен по курсу:
                  <span id="course-input-value" data-course="input-value">1</span>
                  <span id="input-currency" data-exchange-currency="input">btc.</span>
                   = <span id="currency_exhange" data-course="output-value">17.515</span>
                  <span id="output-currency" data-exchange-currency="output">eth</span>
                </p>
                
                <p class="main_2fW">
            	    <span id="coeffburse"></span>
                </p>
                
                <div class="main_1I3">
                    <div class="main_3LV">
                        <div class="main_1g8">
                            <span data-exchange-icon="input"></span>
                        </div>
                        <div id="form_cash_a_name" class="main_2BM" data-exchange-name="input">Bitcoin</div>
                        <div class="main_22H">
                            <span data-exchange-value="input">1.07</span>
                            <span class="main_3g_" data-exchange-currency="input">btc.</span>
                        </div>
                    </div>
                    <div class="main_3LV">
                        <div class="main_2tS">
                            <span  data-exchange-icon="output"></span>
                        </div>
                        <div id="form_cash_b_name" class="main_2BM" data-exchange-name="output">Ethereum</div>
                        <div class="main_22H">
                            <span  data-exchange-value="output">18.740744</span>
                            <span class="main_3g_" data-exchange-currency="output">eth</span>
                        </div>
                    </div>
                </div>
                <p>Введите данные для завершения обмена:</p>
                                    <div class="form_3hz" data-exchange-form="email">
                        <label data-toggle="floatLabel" class="form_2Gw">
                            <span class="form_3Mi">Введите Ваш e-mail</span>
                            <input class="form_2nL">
                        </label>
                        <div class="form_qzZ">
                            <span class="form_3R3"></span>
                        </div>
                    </div>
                                <div class="form_3hz" data-exchange-form="input-account" style="display: none;">
                    <label data-toggle="floatLabel" class="form_2Gw">
                        <span class="form_3Mi" data-exchange-form-label="input-account">Кошелек Bitcoin</span>
                        <input class="form_2nL">
                    </label>
                    <div class="form_qzZ">
                        <span class="main_8sl">
                            <span class="iconpay-bitcoin" data-exchange-icon="input"></span>
                        </span>
                    </div>
                </div>
                                <div class="form_3hz" data-exchange-form="input-fullname" style="display: none;">
                    <label data-toggle="floatLabel" class="form_2Gw">
                        <span class="form_3Mi">ФИО отправителя</span>
                        <input class="form_2nL"> </label>
                    <div class="form_qzZ"></div>
                </div>
                <div class="form_3hz" style="display:none" data-exchange-form="input-unk">
                    <label data-toggle="floatLabel" class="form_2Gw">
                        <span class="form_3Mi" data-exchange-form-label="input-unk">УНК, 6-8 цифр</span>
                        <input class="form_2nL"> </label>
                    <div class="form_qzZ">
                    </div>
                </div>
                <div class="form_3hz" data-exchange-form="output-account" style="">
                    <label data-toggle="floatLabel" class="form_2Gw">
                        <span class="form_3Mi" data-exchange-form-label="output-account">Кошелек Ethereum</span>
                        <input class="form_2nL">
                    </label>
                    <div class="form_qzZ">
                        <span class="main_8sl">
                            <span data-exchange-icon="output"></span>
                        </span>
                    </div>
                </div>
                <div class="form_3hz fio_b_label" data-exchange-form="output-fullname" style="display: none;">
                    <label data-toggle="floatLabel" class="form_2Gw">
                        <span class="form_3Mi">ФИО получателя</span>
                        <input class="form_2nL"> </label>
                    <div class="form_qzZ"></div>
                </div>
                <div class="form_3hz" style="display:none" data-exchange-form="output-unk">
                    <label data-toggle="floatLabel" class="form_2Gw">
                        <span class="form_3Mi" data-exchange-form-label="output-unk">УНК, 6-8 цифр</span>
                        <input class="form_2nL"> </label>
                    <div class="form_qzZ"></div>
                </div>
                <label class="form_2Jr" style="display:none" data-exchange-form="switch_monero">
                    <input value="1" name="switch_payment_id" class="form_1gq" data-exchange-field="switch_monero" type="checkbox">
                    <span class="form_3U9"></span>
                    <span class="form_nBB">
                        Без Destination Tag                    </span>
                </label>
                <div class="form_3hz" style="display:none" data-exchange-form="output-bank">
                    <label data-toggle="floatLabel" class="form_2Gw">
                        <span class="form_3Mi">Название банка</span>
                        <input class="form_2nL"> </label>
                    <div class="form_qzZ"></div>
                </div>
                
                <label class="form_2Jr" data-exchange-form="agree">
                    <input value="1" name="exchange_rule" checked="checked" class="form_1gq" data-exchange-field="agree" type="checkbox">
                    <span class="form_3U9"></span>
                    <span class="form_nBB">
                        Я согласен с
                        <a href="/pravila_obmena" target="_blank" rel="noopener noreferrer">
                            условиями и правилами сервиса
                        </a>
                    </span>
                </label>

                <button class="buttons_2FG" data-exchange-form="submit" type="button" id="sendRequest">
                    Обменять сейчас
                </button>
            </div>
        </div>

              </div>
          <div class="service-break_1DV" data-teachbreak-container="" style="display: none">
            <div class="service-break_uF3">
              <p>
                <img src="/images/icon-service-break.png" alt="Технический перерыв">
              </p>
              <div class="service-break_2dc">Технический перерыв</div>
              <p class="service-break_1TV"> Нас забрали и обещали вернуть через
                <strong data-techbreak="0">-</strong>
              </p>
              <div class="service-break_Xph">
                <div class="progress_2K6">
                  <div class="progress_3BV"></div>
                </div>
              </div>
              <div class="service-break_2j4">
                <p> Не беспокойтесь, если Ваша заявка поступила в период технического перерыва.<br>
                    Она будет обработана в ближайшее время :) </p>
                <a href="/news" class="buttons_1jS"> А пока почитайте новости </a>
      
</div>
</div>

