
<h1>Новости</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>Источник</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= news.title %></td>
        <td><%= news.url_source %></td>
        <td><%= link_to 'Показать', news %></td>
        <td><%= link_to 'Редактировать', edit_news_path(news) %></td>
        <td><%= link_to 'Удалить', news, method: :delete, data: { confirm: 'Подтвердить удаление?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить', new_news_path, :class => "btn btn-primary" %>
