<%= form_with(model: order, local: true, :html => {class: 'form-horizontal'}) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--

  <div class="form-group">
    <%= form.label "Приход:", :class => "col-sm-3 control-label" %>
    <%= form.text_field :currency_input, id: :order_currency_input, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Количество:", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
	<%= form.text_field :value_input, id: :order_value_input , :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label "Расход:", :class => "col-sm-3 control-label" %>
    <%= form.text_field :value_output, id: :order_value_output, :class => "form-control" %>
  </div>


  <div class="form-group">
    <%= form.label "Количество:", :class => "col-sm-3 control-label" %>
    <%= form.text_field :currency_output, id: :order_currency_output, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Электронный адрес:", :class => "col-sm-3 control-label" %>
    <%= form.text_field :email, id: :order_email, :class => "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label "ФИО:", :class => "col-sm-3 control-label" %>
    <%= form.text_field :fullname, id: :order_fullname,:class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Реквизиты приходы:", :class => "col-sm-3 control-label" %>
    <%= form.text_field :input_account, id: :order_input_account, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Реквизиты расхода:", :class => "col-sm-3 control-label" %>
    <%= form.text_field :output_account, id: :order_output_account, :class => "form-control" %>
  </div>
-->
  <div class="form-group">
    <%= form.label "Статус:", :class => "col-sm-3 control-label" %>
    <%= form.select :status, options_for_select([['Создана', 1], ['В работе',2], ['Выполнена', 3] ], form.object.status), {}, {:class => 'form-control'} %>
  </div>
<!--
  <div class="form-group">
    <%= form.label "Условия соглашения:", :class => "col-sm-3 control-label" %>
    <%= form.check_box :agree, id: :order_agree %>
  </div>
-->
  <div class="form-group">
    <%= form.submit "Сохранить" %>
  </div>
<% end %>
