<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Value input</th>
      <th>Value output</th>
      <th>Currency input</th>
      <th>Currency output</th>
      <th>Email</th>
      <th>Fullname</th>
      <th>Input account</th>
      <th>Output account</th>
      <th>Status</th>
      <th>Agree</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.value_input %></td>
        <td><%= order.value_output %></td>
        <td><%= order.currency_input %></td>
        <td><%= order.currency_output %></td>
        <td><%= order.email %></td>
        <td><%= order.fullname %></td>
        <td><%= order.input_account %></td>
        <td><%= order.output_account %></td>
        <td><%= order.status %></td>
        <td><%= order.agree %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
