<%= form_with(model: cryptocurrency, local: true) do |form| %>
  <% if cryptocurrency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cryptocurrency.errors.count, "error") %> prohibited this cryptocurrency from being saved:</h2>

      <ul>
      <% cryptocurrency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :cryptocurrency_code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cryptocurrency_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
