<%= form_with(model: cryptocurrency, local: true, :class => "form-horizontal") do |form| %>
  <% if cryptocurrency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cryptocurrency.errors.count, "error") %> prohibited this cryptocurrency from being saved:</h2>

      <ul>
      <% cryptocurrency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Код:", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= form.text_field :code, id: :cryptocurrency_code, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label "Наименование:", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= form.text_field :name, id: :cryptocurrency_name, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label "Минимальное значение обмена:", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= form.number_field :minexchange, id: :cryptocurrency_minexchange, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label "Логотип:", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= form.file_field :logo, id: :cryptocurrency_logo %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        <%= form.submit "Сохранить", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
