<p id="notice"><%= notice %></p>

<p>
  <strong>Код:</strong>
  <%= @cryptocurrency.code %>
</p>

<p>
  <strong>Наименование:</strong>
  <%= @cryptocurrency.name %>
</p>

<%= link_to 'Редактировать', edit_cryptocurrency_path(@cryptocurrency) %> |
<%= link_to 'Назад', cryptocurrencies_path %>
