<p id="notice"><%= notice %></p>

<p>
  <strong>Код:</strong>
  <%= @cryptocurrency.code %>
</p>

<p>
  <strong>Наименование:</strong>
  <%= @cryptocurrency.name %>
</p>

<p>
  <strong>Минимальное значение обмена:</strong>
  <%= @cryptocurrency.minexchange %>
</p>
<p>
  <strong>Логотип:</strong>
  <%= image_tag @cryptocurrency.logo.url(:med) %>
</p>

<%= link_to 'Редактировать', edit_cryptocurrency_path(@cryptocurrency) %> |
<%= link_to 'Назад', cryptocurrencies_path %>
