<%= form_with(model: admin_cash, local: true) do |form| %>
  <% if admin_cash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_cash.errors.count, "error") %> prohibited this admin_cash from being saved:</h2>

      <ul>
      <% admin_cash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_2Ix">
    <%= form.label "Краткое наименование:" %>
    <%= form.text_field :code, id: :admin_cash_code %>
  </div>

  <div class="form_2Ix">
    <%= form.label "Полное наименование:" %>
    <%= form.text_field :name, id: :admin_cash_name %>
  </div>

  <div class="form_2Ix">
    <%= form.label "Логотип" %>
    <%= form.text_field :icon, id: :admin_cash_icon %>
  </div>

  <div class="form_2Ix">
    <%= form.label "Тип" %>
    <%= form.number_field :category, id: :admin_cash_category %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить" %>
  </div>
<% end %>
