<p id="notice"><%= notice %></p>

<p>
  <strong>Ед. валюты:</strong>
  <%= @admin_cash.code %>
</p>

<p>
  <strong>Наименование:</strong>
  <%= @admin_cash.name %>
</p>

<p>
  <strong>Логотип:</strong>
  <%= @admin_cash.icon %>
</p>

<p>
  <strong>Тип:</strong>
  <%= @admin_cash.category %>
</p>

<%= link_to 'Редактировать', edit_admin_cash_path(@admin_cash) %> |
<%= link_to 'Назад', admin_cashes_path %>
