<p id="notice"><%= notice %></p>

<p>
  <strong>Краткое наименование:</strong>
  <%= @admin_cash.code %>
</p>

<p>
  <strong>Полное наименование:</strong>
  <%= @admin_cash.name %>
</p>

<p>
  <strong>Логотип:</strong>
  <span class="<%= @admin_cash.icon %>"></span>  <%= @admin_cash.icon %>
</p>

<p>
  <strong>Тип:</strong>
  <%= @admin_cash.category_name %>
</p>

<%= link_to 'Редактировать', edit_admin_cash_path(@admin_cash) %> |
<%= link_to 'Назад', admin_cashes_path %>
