<div data-container="header">
<div class="header_14e">
<div class="header_aWd">
<div class="header_312">
<a class="header_1-Z" href="/">
<img src="/logo.png" alt="" class="header_sm_1YO" style="width: 55%">
</a>
<div class="header_37X">

<span class="userpanel_crownCirle">
<span class="userpanel_crown"></span>
</span>
<span class="HW_badge_cont HW_visible">
<span class="HW_badge HW_softHidden" data-count-unseen=""></span>
</span>
</div>
</div>

<div class="navigation_WfZ">
  <%= link_to "Валюта", currencies_path, :class => "navigation_1VU" %>
  <%= link_to "Криптовалюта", cryptocurrencies_path, :class => "navigation_1VU" %>
  <%= link_to "Банк", banks_path, :class => "navigation_1VU" %>
  <%= link_to "Направление обмена", admin_converters_path, :class => "navigation_1VU" %>
  <%= link_to "Выход", admin_logout_path, method: :delete, :class => "navigation_1VU" %>
</div>

</div>
</div>
</div>













<div class="header_sm_2y4">
<div class="header_sm_WNG">
<button id="headerSmallOpen" class="header_sm_3KJ">
<span class="header_sm_1WG"></span>
</button>
<div class="header_sm_3z6">
<a href="/">
<img src="/templates/kassa/img/logo_sm.jpg" alt="Kassa.cc" class="header_sm_1YO" width="237" height="64">
</a>
<div class="header_sm_gift">

<span class="userpanel_crownCirle">
<span class="userpanel_crown"></span>
</span>
<span class="HW_badge_cont HW_visible HW_mobile">
<span class="HW_badge HW_softHidden" data-count-unseen="">1</span>
</span>
</div>
</div>
<button class="header_sm_3ma" data-toggle="modal" data-target="#modalSingin">
<span class="header_sm_3l8"></span>
</button>
</div>
<div class="header_sm_nav_wkF">
<div class="header_sm_nav_C5D">

<div class="header_sm_nav_1Eu">
<div class="header_sm_nav_17v">
<a href="/pravila_obmena" target="_self" title="Правила обмена">
Правила обмена
</a>
</div>
<div class="header_sm_nav_17v">
<a href="/partners" target="_self" title="Партнерам">
Партнерам
</a>
</div>
<div class="header_sm_nav_17v">
<a href="/new2s" target="_self" title="Выход">
Новости
</a>
</div>
<div class="header_sm_nav_17v">
<a href="/faq" target="_self" title="FAQ">
FAQ
</a>
</div>
<div class="header_sm_nav_17v">
<a href="/contact" target="_self" title="Контакты">
Контакты
</a>
</div>

</div>
</div>
<div class="header_sm_nav_-Gy">
<div class="header_sm_nav_C5D">
<div class="header_sm_nav_29F">
<a href="/pravila_obmena">Правила и условия сервиса</a>
</div>
<div class="header_sm_nav_29F">
<a href="/referalusers.html">Подарки от сайта</a>
</div>
</div>
<div class="header_sm_nav_29F">
<a href="#" data-toggle="modal" data-target="#modalAboutService">
О сервисе
</a>
</div>

</div>
</div>
</div>

