<div data-container="header">
        <div class="header_14e">
            <div class="header_aWd">
                <div class="header_312">
                    <a class="header_1-Z" href="/">                   
						<img src="/logo.png" alt="" class="header_sm_1YO" style="width: 5rem;">
					 </a>
                </div>
                <div class="navigation_WfZ">
                                        <%= link_to "Правила обмена", pravila_obmena_path, :class => "navigation_1VU" %>
	   
			<%= link_to "Контакты", contact_path, :class => "navigation_1VU" %>
	
			<%= link_to "О сервисе", about_path, :class => "navigation_1VU" %>

<%= link_to "Новости", novosti_path, :class => "navigation_1VU" %>

                    </div>
                                                    <div class="userpanel_1nF">
                       
                    </div>
                            </div>
        </div>

        <div class="header_sm_2y4">
            <div class="header_sm_WNG">
                <button id="headerSmallOpen1" class="header_sm_3KJ">
                    <span class="header_sm_1WG"></span>
                </button>
                <div class="header_sm_3z6">
                    <a href="/">
						<img src="/logo.png" alt="" class="header_sm_1YO" style="width: 5rem;">
                    </a>
                    <div class="header_sm_gift">
                        
        <span class="userpanel_crownCirle">
            <span class="userpanel_crown"></span>
        </span>
                        </div>
                </div>
                                    <div class="header_sm_3ma" >

                    </div>
                            </div>

            <div id="smallMenu1" class="header_sm_nav_wkF">
                <div class="header_sm_nav_C5D">
                    
                    <div class="header_sm_nav_1Eu">
                                            
					    <div class="header_sm_nav_17v">
					        
								<%= link_to "Правила обмена", pravila_obmena_path %>
					    </div>

					    <div class="header_sm_nav_17v">
					        
								<%= link_to "Новости", novosti_path %>
					    </div>

					    <div class="header_sm_nav_17v">
					        
								<%= link_to "Контакты", contact_path %>
					    </div>

                    </div>
                </div>
                <div class="header_sm_nav_-Gy">
                    <div class="header_sm_nav_C5D">
                       
                        <div class="header_sm_nav_29F">
                            
								<%= link_to "О сервисе", about_path %>

                        </div>
                    </div>
                    <div class="header_sm_nav_29F">
                    	
                    </div>
                                    </div>
            </div>
        </div>
    </div>