<!DOCTYPE html>
<html>
  <head>
    <title>Крипто Обмен</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script type="text/javascript">
    window.dataCommerce = [];
    window.isSleep = false;
    window.sleepEnd = '0';
    window.Config = {"COMPOSITE_STATUS_URL":"https:\/\/api.kassa.cc\/uploads\/composite_status.json"};
    </script>
    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name": "Kassa.cc — единый обмен валюты",
    "image": "https://kassa.cc/templates/kassa/img/logo.png",
    "email": "support@kassa.cc",
    "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": {
    "@type": "DayOfWeek",
    "name": "Ежедневно"
    },
    "opens": "00:00 - 23:59"
    },
    "url": "https://kassa.cc/"
    }
    </script>
    
  </head>

  <body>
  
    <% if logged_in? %>
      <%= render 'layouts/header_admin' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
    
    
    <div data-container="module" class="module_deo">
      <div data-container="main" class="main_dAF">
        <div id="grid" class="main_2Js">
            <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
